<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SUPABASE_URL" value="https://bzmmrifjgzlvsphctais.supabase.co" />
		<add key="SUPABASE_KEY" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6bW1yaWZqZ3psdnNwaGN0YWlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDIwNjUsImV4cCI6MjA4OTM3ODA2NX0.Ah6AYyb5UlLi2ihvsM_NfoYVFWe1aEHvYkVMQiADEpk"/>
	</appSettings>

</configuration>